body {
    margin: 0px;
    background-color: #1a1333;
    font-family: "Poppins", sans-serif;
    color: #eadabd;

}

.header {
    position: relative;
    height: 80vh;
    background-image: url(Descendants1.jpeg) ;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;

}

.header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: #1a1333;
    clip-path: polygon(0 70%, 50% 100%, 100% 70%, 100% 100%, 0 100%);
}

.overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background: rgba(0, 0, 0, 0.45);

}

.header-content {
    position: relative;
    z-index: 2;
    padding: 0 20px;

}

h1 {
    font-family: "Cinzel Decorative", serif;
    font-size: 80px;
    color: l#fde5b1;
    letter-spacing: 2px;
    margin-bottom: 5px;
    text-shadow: 0 0px 15px rgba(255, 255, 255, 0.4), rgba(255, 223, 88, 0.6);
    animation: fadeInDown 2s ease; 
}

h2 {
    font-family: "Playfair Display", serif;
    font-size: 23px;
    font-style: italic;
    color: #f3ddbd;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    letter-spacing: 0.5px;
    animation: fadeInUp 2s ease;
    margin-bottom: 60px;

}

.sparkle {
    position: absolute;
    width: 5px;
    height: 5px;
    background: radial-gradient(circle, #fff7d1 0%, #ffe600 40%, transparent 80%);
    border-radius: 50%;
    opacity: 0.8;
    animation: sparkleAnimation 3s infinite ease-in-out;
    z-index: 3;

}

@keyframes sparkleAnimation {
    0%, 100% { opacity: 0; transform: scale(0.5);}
    50% { opacity: 1; transform: scale(1.3);}

}

.navbar {
    background-color: rgba(19, 19, 61, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    animation: fadeInDown 1s ease forwards;

}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;

}

.navbar ul li {
    position: relative;

}

.navbar ul li a {
    text-decoration: none;
    color: #f6e6c3;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 23px;
    letter-spacing: 1px;
    transition: all 0.3s ease;

}

.navbar ul li a:hover {
    background-color: #FFD93D;
    color: #132440;
    text-shadow: 0 0 10px #fff7d1;
    border-radius: 15px;
    padding: 5px;

}

.dropdown {
    position: relative;

}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgba(27, 17, 36,0.95);
    min-width: 180px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    top: 100%;
    left: 0;
    z-index: 20;

}

.dropdown-content a {
    color: #f4e5c2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 10px;
    transition: 0.3s ease;

}

.dropdown-content a:hover {
    background-color: #4a2c6a;
    color: #ffd700;
    text-shadow: 0 0 8px #fff7d1;

}

.dropdown:hover .dropdown-content {
    display: block;
    animation: dropdownFade 0.3s ease;

}

@keyframes dropdownFade {
    0% {
        opacity: 0;
        transform: translateY(-10px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

.home-section {
    position: relative;
    height: 100VH;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f6e6c3;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    border-radius: 15px;

}

.home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    z-index: 1;

}

.home-content {
    position: relative;
    z-index: 2;
    max-width: 750px;
    padding: 35px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(255, 215, 0, 0.25);
    animation: fadeIn 2s ease forwards;

}

.home-content h1 {
    font-size: 35px;
    font-family: "Playfair Display", serif;
    margin-bottom: 23px;
    color: #ffd700;
    text-shadow: 0 0 10px #fff7d1;

}

.home-content p {
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 30px;

}

.home-btn {
    background-color: #ffd700;
    color: #132440;
    font-weight: bolder;
    border: none;
    border-radius: 25px;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;

}

.home-btn:hover {
    background-color: #f6e6c3;
    transform: scale(1.05);

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

#about {
    color: #f6e6c3;
    padding: 80px 10%;
    text-align: center;

}

.about-block {
    margin-bottom: 70px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

}


.about-block h2 {
    font-size: 35px;
    font-family: "Playfair Display", serif;
    margin-bottom: 23px;
    color: #ffd700;
    text-shadow: 0 0 10px rgba(255, 223, 88, 0.6);

}

.about-block p, .about-block ul {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    line-height: 1.8;
    color: #f6e6c3;
    text-align: justify;

}

.about-block ul {
    list-style: none;
    padding: 0;

}

.movie-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;

}

.movie-card {
    background-color: rgba(255, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    width: 230px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;

}

.movie-card:hover {
    transform: translateY(-10px);

}

.movie-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;

}

.movie-card h3 {
    font-family: "Playfair Display", serif;
    font-size: 16px;
    color: #ffd700;
    margin: 10px 0;
    text-shadow: 10px rgba(253, 247, 166, 0.8);

}

.movie-btn {
    background-color: #fd792d;
    color: navajowhite;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.movie-btn:hover {
    background-color: #b42e71;
    color: #fdf585;
    transform: scale(1.05);

}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(26, 19, 51, 0.85);
    display: none;
    justify-content: center;
    z-index: 9999;
    backdrop-filter: blur(5px);
    align-items: center;
    padding: 0;
    margin: 0;

}

.popup-content {
    background: linear-gradient(to bottom, #3c1361, #6a1b9a);
    color: #f6e6c3;
    padding: 30px 35px;
    border-radius: 15px;
    width: 420px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0 0 30px rgba(255, 215, 0, 0.5);
    animation: fadeIn 0.5s ease;
    height: 350px;
    align-items: center;

}

.popup-content h2 {
    color: #ffd700;
    font-family: "Playfair Display", serif;
    margin-bottom: 15px;

}

.popup-content p {
    font-family: "Poppins", sans-serif;
    line-height: 1.8;
    margin-bottom: 25px;

}

.close-btn {
    background-color: #ffd700;
    color: #2c1b47;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.close-btn:hover {
    background-color: #f6e6c3;
    transform: scale(1.05);

}

@keyframes fadeIn {
    from {opacity: 0; transform: scale(0.9);}
    to {opacity: 1; transform: scale(1);}

}

.values-section {
    background-color: linear-gradient(to bottom, #1a1333, #3c1361, #6a1b9a);
    padding: 100px 60px;
    color: #f6e6c3;
    text-align: center;
    font-family: "Poppins", sans-serif;

}

.values-section h2 {
    font-size: 35px;
    font-family: "Playfair Display", serif;
    margin-bottom: 23px;
    color: #ffd700;
    text-shadow: 0 0 10px rgba(255, 223, 88, 0.6);

}

.values-intro {
    font-size: 20px;
    color: #f3ddbd;
    max-width: 800px;
    margin: 0 auto 60px auto;
    line-height: 1.9;

}

.values-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: justify;

}

.values-content h3 {
    font-size: 25px;
    font-family: "Playfair Display", serif;
    margin-top: 30px;
    color: #ffd700;

}

.values-content p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #f6e6c3;
    text-align: justify;
    line-height: 1.8;

}

.char-section {
    padding: 80px 50px;
    background: linear-gradient(to bottom, #3c1361, #1a1333);
    text-align: center;
    color: #f6e6c3;

}

.char-section h2 {
    font-size: 35px;
    font-family: "Playfair Display", serif;
    margin-bottom: 10px;
    color: #ffd700;
    text-shadow: 0 0 15px rgba(255, 223, 88, 0.6);

}

.char-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.char-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease;

}

.char-card:hover {
    transform: translateY(-8px);

}

.char-card img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;

}

.char-card h3 {
    font-family: "Playfair Display", serif;
    font-size: 16px;
    color: #ffd700;
    margin: 10px 0;
    text-shadow: 10px rgba(253, 247, 166, 0.8);

}

.char-card p {
  display: none;
  padding: 10px;
  color: #f7d58b;
  font-size: 13px;

}

button {
  background-color: #2c1b47;
  color: #f6e6c3;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s, transform 0.2s;

}

button:hover {
  background-color: #7d64a5;
  transform: scale(1.05);

}

.articles-section {
    color: #f6e6c3;
    padding: 80px 20px;
    text-align: center;

}

.articles-section h2 {
    font-size: 35px;
    font-family: "Playfair Display", serif;
    margin-bottom: 10px;
    color: #ffd700;
    text-shadow: 0 0 15px rgba(255, 223, 88, 0.6);

}

.articles-section .subtitles {
    font-size: 18px;
    font-family: "Playfair Display", serif;
    margin-top: 30px;
    color: #f0df7e;
    font-style: italic;
    text-shadow: 0 0 15px rgba(255, 223, 88, 0.6);

}

.article-preview {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    max-width: 750px;
    margin: 30px auto;
    padding: 30px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.article-preview:hover {
    transform: scale(1.02);

}

.article-preview h2 {
    font-family: "Playfair Display", serif;
    margin-bottom: 10px;
    color: #ffd700

}

.article-preview p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;

}

.read-btn {
    display: inline-block;
    background-color: #ffd700;
    color: #2a1849;
    font-weight: bold;
    border-radius: 25px;
    padding: 8px 20px;
    text-decoration: none;
    transition: all 0.3s ease;

}

.read-btn:hover {
    background-color: #f6e6c3;
    color: #1a1333;
    transform: scale(1.05);

}

.article-page {
    background: linear-gradient(to bottom, #1a1333, #2a1849, #3a1c60);
    color: #f6e6c3;
    font-family: "Poppins", sans-serif;
    line-height: 1.8;
    padding: 80px 15%;
    text-align: justify;
    animation: fadeInPage 1.2s ease;

}

@keyframes fadeInPage {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);

    }
}

.article-page h1 {
    font-size: 35px;
    font-family: "Playfair Display", serif;
    margin-bottom: 10px;
    color: #ffd700;
    text-shadow: 0 0 15px rgba(255, 223, 88, 0.6);

}

.article-page p {
    font-size: 19px;
    color: #f8e7c6;
    margin-bottom: 20px;
    text-indent: 30px;

}

.back-btn {
    display: inline-block;
    margin-top: 40px;
    background-color: #ffd700;
    color: #2a1849;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px 25px;
    text-decoration: none;
    transition: all 0.3s ease;

}

.back-btn:hover {
    background-color: #f6e6c3;
    color: #1a1333;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.4);

}

.gallery-section {
    background: linear-gradient(to bottom, #3c1361 #1a1333);
    color: #f6e6c3;
    text-align: center;
    padding: 100px 20px;
    font-family: "Poppins", sans-serif;

}

.gallery-section h2 {
    font-size: 35px;
    font-family: "Playfair Display", serif;
    margin-bottom: 10px;
    color: #ffd700;
    text-shadow: 0 0 15px rgba(255, 223, 88, 0.6);
    animation: fadeInDown 1.5s ease;

}

.gallery-section .subtitles {
    font-size: 18px;
    font-family: "Playfair Display", serif;
    margin-top: 30px;
    color: #f0df7e;
    font-style: italic;
    text-shadow: 0 0 15px rgba(255, 223, 88, 0.6);

}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 40px;
    justify-items: center;
    object-fit: cover;
    align-items: center;

}

.gallery-container img {
    width: 100%;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.15);
    transition: transform 0.4s ease, box-shadow 0.4s ease;

}

.gallery-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(255, 215, 0, 0.5);

}

.registration-section {
    text-align: center;
    padding: 80px 20px;
    color: #f6e6c3;

}

.registration-section h2 {
    font-size: 35px;
    font-family: "Playfair Display", serif;
    margin-bottom: 10px;
    color: #ffd700;
    text-shadow: 0 0 15px rgba(255, 223, 88, 0.6);
    animation: fadeInDown 1.5s ease;

}

.registration-section .subtitles {
    font-size: 18px;
    font-family: "Playfair Display", serif;
    margin-top: 30px;
    color: #f0df7e;
    font-style: italic;
    text-shadow: 0 0 15px rgba(255, 223, 88, 0.6);

}

.registration-form {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.25);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(255, 215, 0, 0.2);

}

.registration-form label {
    display: block;
    text-align: justify;
    margin-bottom: 8px;
    font-weight: bold;
    color: #f6e6c3;

}

.registration-form input, .registration-form select, .registration-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;

}

.registration-form input::placeholder, .registration-form textarea::placeholder {
    color: #cbbfbf;


}

.submit-btn {
    background-color: #ffd700;
    color: #1a1333;
    border-radius: 25px;
    border: none;
    padding: 12px 25px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;   

}

.submit-btn:hover {
    background-color: #f6e6c3;
    transform: scale(1.05);

}

.hidden-message {
    display: none;
    margin-top: 25px;
    font-weight: bold;
    color: #ffd700;
    font-size: 20px;
    font-family: "Playfair Display", serif;
    animation: fadeIn 1.2s ease;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

input[type="text"], input[type="email"], textarea, select {
    width: 100%;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 15px;
    padding: 12px 15px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    transition: 0.3s ease;
    box-sizing: border-box;

}

input::placeholder, textarea::placeholder {
    color: rgba(248, 75, 176, 0.938);

}

input:focus, textarea:focus, select:focus {
    outline: none;
    background: rgba(244, 179, 247, 0.6);
    border-color: #b366ff;

}

select {
    appearance: none;
    background-color: rgb(205, 93, 228);
    color: #fff;
    height: 48px;

}

select:hover {
    appearance: none;
    background-color: #9b7efa;
    color: #fff;
}

option {
    background-color: #2c004f;
    color: #fff;

}

option:hover {
    background-color: #4a2c6a;
    color: #ffd700;
}

.footer-section {
    background: linear-gradient(to bottom, #160b3a, #0a0219);
    text-align: center;
    color: #f6e6c3;
    padding: 60px 20px 30px;
    font-family: "Poppins", sans-serif;

}

.footer-section h2{
    font-size: 35px;
    font-family: "Playfair Display", serif;
    margin-bottom: 10px;
    color: #ffd700;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.4);

}

.footer-text {
    font-size: 18px;
    color: #e4d6b3;
    margin-bottom: 30px;
    font-style: italic;

}

.social-icons {
    margin-bottom: 25px;

}

.social-icons a {
    color: #ffd700;
    margin: 0 10px;
    font-size: 28px;
    transition: 0.3s ease;

}

.social-icons a:hover {
    color: #f6e6c3;
    transform: scale(1.1);

}

.footer-credit {
    font-size: 14px;
    color: #bcae8e;
    margin-top: 20px;

}

.footer-credit span {
    color: #ffd700;
    font-weight: bold;

}

.sidebar {
    width: 300px;
    flex: 1;
    background-color: #4b0082;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    margin-top: 15px;

}

.widget {
    margin-bottom: 20px;

}

.widget h3 {
    font-size: 20px;
    font-family: "Playfair Display", serif;
    margin-bottom: 10px;
    color: #ffd700;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.4);
    text-align: center;

}

#clock {
    font-size: 24px;
    font-weight: bold;
    text-align: center;

}

audio, iframe {
    border-radius: 10px;

}

.container {
    display: flex;
    gap: 10px;
    align-items: flex-start;

}

.main {
    flex: 3;
    background-color: linear-gradient(to bottom, #160b3a, #3c1361, #6a1b9a);
    padding: 15px;
    border-radius: 15px;
}